<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/styles/campgrounds.css">


<h1 class="text-center mt-3 mb-3">Login</h1>
<div class="container w-75 p-5 bg-light-subtle">
<form action="/login" class="validated-form" method="POST" novalidate>
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" id="username" class="form-control" name="username" required/>
        <div class="valid-feedback">Looks Good</div>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" class="form-control" name="password" required/>
        <div class="valid-feedback">Looks Good</div>
    </div>
    <button class="btn btn-success">Submit</button>
</form>
</div>